.navbar {
  width: 100%;
  height: 10vh;
  padding: 0% 4px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
}
.navbar ul li {
  list-style-type: none;
}
.navbar ul li a {
  text-decoration: none;
}
